* {
  margin:0;
  font-family: 0;
  box-sizing: border-box
}
ul{
  list-style-type: none;
}
ul li {
  color: slategray;
}
ul li span {
  color: red;
}
a {
  text-direction: none;
}
h1 {
  color: white;
  font-size:2.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
h1 span {
  color: green;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #111827;
}
form {
  margin-bottom:2rem;
}

input {
  background-color: transparent;
  font-family: inherit;
  outline: none;
  border: none;
  font-size: 1.5rem;
  padding: 1.25rem 1.25rem;
  color: slategray;
  border: 0.1rem solid slategray;
  margin-right: 1rem;
  border-radius:0.625rem;
}

input::placeholder {
  color: slategray;
}
button{
  font-family: inherit;
  font-size: 1.5rem;
  outline: none;
  border: none;
  background-color: #fff;
  padding: 1.25rem 1rem;
  border: 0.1rem solid slategrayy;
  border-radius:0.625rem;
  transition: all 0.25s ease-in-out;
}
button:hover {
  background-color: transparent;
  color: slategray;
  cursor: pointer;
}

.spinner {
  width: 5rem;
  height: 5rem;
  border: 0.2rem solid rgba(130, 171, 211, 0.445);
  border-top-color: #e92828;
  border-radius: 50%;
  animation: spin 1s infinite linear;
  position: absolute;
  top:50%;
  left: 44%;
  transform: translate(-44%, -50%)
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  } 
  to {
    transform: rotate(360deg)
  }
  }
.category {
  color: slategray;
  margin-bottom: 1rem;
}

.category span {
  color: #a3b4c4;
  font-weight: bold;
  text-transform: capitalize;
}

.section{
  padding: 1.25rem
}
.section .title h1{
  font-weight:bold;
  font-size: 2rem;
  color:#fff;
  text-align: center;
  margin-bottom: 1rem;
}

.section .title a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: slategray;
  text-align: center;
  text-decoration: underline;
  margin-bottom: 2rem;
}

.section .title a:hover {
  color: #fff;
}

.section .cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.section .cards div {
  background-color: #1C3043FF;
  padding: 1rem;
  border-radius: 0.625
}

.section .cards div h2{
  color: #fff;
  margin-bottom:1rem;
}

.section .cards div ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.section .cards div ul li:fist-child{
  color: slategray;
}

.section .cards div ul li a {
  text-decoration: underline;
  color: slategray;
}

.section .cards div ul li a:hover {
  color: #fff;
}

.section .cards div p {
  color: slategray;
}

@media(min-width: 768px) {
  .section .cards {
    grid-template-columns: repeat(2, 1fr);
    /* display: grid;
    grid-template-columns: 1fr;
    gap: 1rem; */
  }
}


@media(min-width: 1024px) {
  .section .title h1 {
    font-size: 4rem;
  }
  form {
    display: flex;
    align-items: center;
  }
  input {
    width: 100%;
    font-size: 2.5rem;
  }

  button {
    font-size: 2.5rem;
  }
  .section {
    max-width: 992px;
    margin: auto;
  }
}
/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
} */
